{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
<section class="py-5 py-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p class="subtitle text-primary">Add new Store</p>
        <h1 class="h2 mb-5">店舗を登録</h1>
        <p class="text-muted">貸し出せる店舗を登録しましょう</p>
        <p class="text-muted mb-5">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>

         <form class="form-horizontal" method="post" action="{% url 'hosts:place_create' %}">
          {% csrf_token %}
          <input type="hidden" name="host" required value="{{ host.id }}">
          {{ form|crispy }}
          <div class="control-group">
            <div class="controls">
              <div class="d-grid gap-2 mb-4">
                <button type="submit" class="btn btn-primary">店舗を作成</button>
              </div>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
